apiVersion: v1
kind: Secret
metadata:
  name: couchbase-secret
  namespace: couchbase
type: Opaque
data:
  password: cGFzc3dvcmQ=
  username: QWRtaW5pc3RyYXRvcg==
---

apiVersion: couchbase.com/v2
kind: CouchbaseCluster
metadata:
  name: cb-example
  namespace: couchbase
spec:
  security:
    adminSecret: couchbase-secret
    rbac:
      managed: true
      selector:
        matchLabels:
          cluster: cb-example
  backup:
    serviceAccountName: couchbase-backup
    image: >-
      registry.connect.redhat.com/couchbase/operator-backup@sha256:7bcc296a4ce58bc0eccab5522712e97a92bc81f2b7e9b2fc7d1b7571a1a169cb
    managed: false
    selector:
      matchLabels:
        cluster: cb-example
  enablePreviewScaling: false
  recoveryPolicy: PrioritizeDataIntegrity
  monitoring:
    prometheus:
      enabled: false
      image: >-
        registry.connect.redhat.com/couchbase/exporter@sha256:d392e6c902f784abfc083c9bf5ce11895d0183347b6c21b259678fd85f312cd4
  hibernationStrategy: Immediate
  buckets:
    managed: true
    selector:
      matchLabels:
        cluster: cb-example
  upgradeStrategy: RollingUpgrade
  servers:
    - size: 3
      name: all_services
      services:
        - data
        - index
        - query
  hibernate: false
  networking:
    adminConsoleServices:
      - data
    adminConsoleServiceType: NodePort
    exposeAdminConsole: true
    waitForAddressReachable: 10m
    waitForAddressReachableDelay: 2m
    exposedFeatureServiceType: NodePort
    tls:
      tlsMinimumVersion: TLS1.2
    exposedFeatures:
      - xdcr
  cluster:
    autoFailoverTimeout: 120s
    autoFailoverOnDataDiskIssues: true
    clusterName: cb-example
    indexStorageSetting: memory_optimized
    query:
      backfillEnabled: true
      temporarySpace: 1Gi
    autoFailoverMaxCount: 3
    dataServiceMemoryQuota: 256Mi
    autoFailoverOnDataDiskIssuesTimePeriod: 120s
    indexServiceMemoryQuota: 256Mi
    autoCompaction:
      databaseFragmentationThreshold:
        percent: 30
      tombstonePurgeInterval: 72h
      viewFragmentationThreshold:
        percent: 30
    autoFailoverServerGroup: false
    indexer:
      logLevel: info
      maxRollbackPoints: 2
      memorySnapshotInterval: 200ms
      stableSnapshotInterval: 5s
      storageMode: memory_optimized
  xdcr:
    managed: false
    selector:
      matchLabels:
        cluster: cb-example
  image: >-
    registry.connect.redhat.com/couchbase/server@sha256:d0d1734a98fea7639793873d9a54c27d6be6e7838edad2a38e8d451d66be3497
  autoResourceAllocation:
    cpuLimits: '4'
    cpuRequests: '2'
    overheadPercent: 25
  logging:
    audit:
      garbageCollection:
        sidecar:
          age: 1h
          image: 'busybox:1.33.1'
          interval: 20m
      rotation:
        interval: 15m
        size: 20Mi
    server:
      configurationName: fluent-bit-config
      manageConfiguration: true
      sidecar:
        configurationMountPath: /fluent-bit/config/
        image: 'couchbase/fluent-bit:1.2.1'
  logRetentionTime: 604800s
  logRetentionCount: 20

