apiVersion: v1
kind: Service
metadata:
  name: sync-gateway-service
  labels:
    app: sync-gateway
spec:
  ports:
    - port: 4984
      name: apiport
      targetPort: 4984
  type: "NodePort"
  selector:
    app: sync-gateway
---

kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: sync-gateway
  namespace: couchbase
  labels:
    app: sync-gateway
spec:
  subdomain: sync-gateway
  to:
    kind: Service
    name: sync-gateway-service
    weight: 100
  port:
    targetPort: apiport
  wildcardPolicy: None

